<div id='join-form' class='hidden'>
  <i class='fas fa-times close-button'></i>
  <form>
    <div class='button-wrapper'>
      <input type='submit' class='button' id='join-game' value='Join' />
    </div>
  </form>
</div>
