<div id='join-form' class='hidden'>
  <i class='fas fa-times close-button'></i>
  <form>
    <div class='button-wrapper'>
      <div class='button' id='join-game'>Join</div>
    </div>
  </form>
</div>
