<h1>Register</h1>
<form class='auth' method='POST' action=''>
    {{#if message}}<div id='error'>{{ message }}</div>{{/if}}
    <div id='username'>
        <label>Username:</label>
        <input type='text' name='username' />
    </div>
    <div id='password'>
        <label>Password:</label>
        <input type='password' name='password' />
    </div>
    <div id='submit'>
        <input type='submit' value='register' />
    </div>
</form>
