body, html {
  font-family: TrebuchetMS, sans-serif;
  height: 100%;
  margin: 0;
}

body, form, #body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

h1 {
  text-transform: lowercase;
}

#games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
  overflow-y:auto;
}

#games > div {
  border-bottom: 1px solid #999;
  flex-basis: 50%;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
}

#games > div > div {
  margin: 5px;
}

#games .users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

#round-wins, #game-wins {
  flex-basis: 50%;
  justify-content: center;
}

#round-wins > div, #game-wins > div {
  border-bottom: 1px solid #999;
  margin: 10px 0px;
  padding: 10px;
}

#round-wins > div > *, #game-wins > div > * {
  margin: 10px;
}

form > #error {
  background-color: #efa0a0;
  padding: 10px;
}

form > #username, form > #password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

form > #username > *, form > #password > * {
  margin: 10px;
}

input, .button {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}

.button#join-game {
  font-size: 14px;
  padding: 5px;
}

.title {
  font-weight: bold;
}

.gold {
  color: #e8ba47;
}

.silver {
  color: #b2b2b2;
}

.bronze {
  color: #b76e00;
}

#header {
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
