body, html {
  font-family: TrebuchetMS, sans-serif;
  height: 100%;
  margin: 0;
  text-transform: lowercase;
}

#body, #root {
  height: 100%;
}

#root {
  justify-content: center;
}

#header, form, #body, #root, #game-lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

#game-lobby {
  justify-content: center;
}

#game-lobby, #game-lobby > div {
  width: 100%;
  text-align: center;
}

#game-lobby .users {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#game-lobby .users > div, #game-lobby .details > div > div {
  display: inline-block;
  margin: 10px;
}

#game-lobby .waiting-bar {
  background-color: #d8c69c;
  animation-name: bar;
  animation-duration: 10s;
  height: 25px;
  margin: 0 auto;
}

@keyframes bar {
  from {width: 100%;}
  to {width: 0px;}
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #d8c69c;
}

.user, .title {
  text-transform: none;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: #000;
}

.close-button:hover {
  color: #d8c69c;
}

.password .fa-lock {
  margin-left: 10px;
}

#chatbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chatbox > input {
  width: 50%;
}

#chatbox > ul#messages {
  padding: 10px;
  width: 50%;
  height: 300px;
  border: 1px solid black;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}


#login-link, #register-link {
  margin: 10px;
}

#overlay {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

#join-form {
  width: 20%;
}

#join-form > form, #join-form .details, #join-form #password{
  width: 100%;
}

#join-form > form > div {
  width: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#join-form .details {
  justify-content: center;
}

#join-form .details > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

#join-form .details > div  > div, #join-form #password > * {
  margin: 0 10px;
}

#root > #login-form, #root > #register-form {
  top: 50px;
}

#start-popup {
  max-width: 50%;
}

#create-form, #join-form, #login-form, #register-form, #start-popup, #confirm-popup {
  position: absolute;
  background: #fff;
  padding: 50px 100px;
  z-index: 100;
}

#confirm-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-form > form, #join-form > form {
  flex-direction: column;
  justify-content: center;
}

#create-form > form > .input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#create-form #mode label {
  margin-left: 5px;
}

#create-form .button-wrapper, #join-form .button-wrapper {
  display: flex;
  justify-content: center;
}

#games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

#games > div {
  width: 50%;
  overflow-y: auto;
}

#games > div > div {
  border-bottom: 1px solid #999;
  flex-basis: 50%;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
}

#games > div > div > div, #games .users > * {
  margin: 5px;
}

#games .details > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#games .details > div > div {
  margin: 0 10px;
}

#games .users > .count {
  align-self: flex-end;
}

#games .users {
  align-items: center;
}

#platform {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

#platform > #game-platform {
  flex-grow: 3;
  margin: 10px;
}

#platform > #chatbox {
  flex-grow: 1;
  margin: 20px;
}

#platform > #chatbox > ul#messages {
  height: 100%;
  width: 100%;
  margin: 9px;
  padding: 10px;
}

#platform > #chatbox > input {
  width: 100%;
  padding: 10px;
}

#scoreboard, #user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

#user-details > div {
  text-align: center;
  margin: 10px;
  width: 100%;
}

#user-details .bio {
  width: 30%;
  height: 250px;
  border-top: 1px solid #999;
  padding: 10px;
}

#user-details .bio#edit {
  margin: 10px;
  border: 1px solid black;
}

#user-details .bio.disable#edit {
  border: none;
  border-top: 1px solid #999;
}

#round-wins, #game-wins {
  flex-basis: 50%;
  justify-content: center;
}

#round-wins > div, #game-wins > div {
  border-bottom: 1px solid #999;
  margin: 10px 0px;
  padding: 10px;
}

#round-wins > div > *, #game-wins > div > * {
  margin: 10px;
}

#error {
  justify-content: center;
}

#error > div {
  background-color: #efa0a0;
  padding: 10px;
  display: inline-block;
  align-self: center;
}

.auth > #username, .auth > #password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.auth > #username > *, .auth > #password > * {
  margin: 10px;
}

input, .button {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}

.button {
  margin: 10px;
}

.disable {
  border: 1px solid #999;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.button#join-button {
  font-size: 14px;
  padding: 5px;
}

input[type='submit'], .button {
  background-color: #fff;
  color: #000;
}

input[type='submit']:hover, .button:hover {
  border-color: #d8c69c;
  background-color: #d8c69c;
  color: #fff;
}

.title {
  font-weight: bold;
}

.gold {
  color: #e8ba47;
}

.silver {
  color: #b2b2b2;
}

.bronze {
  color: #b76e00;
}

.hidden {
  display: none;
}

.hand > .card {
  position: relative;
  display: inline-flex;
}

.hand > .card:not(:first-child) {
  right: 140px;
}

.card {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.card .code {
  line-height: 20px;
}

.card > .topLeft {
  align-self: flex-start;
}

.card > .bottomRight {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: rotate(180deg);
}

.card.red {
  color: #bc2d2d;
}

.card.black {
  color: #000;
}

#header {
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
