body, html {
  font-family: TrebuchetMS, sans-serif;
  height: 100%;
  margin: 0;
  text-transform: lowercase;
}

#body, #root {
  height: 100%;
}

#root {
  justify-content: center;
}

#header, form, #body, #root, #game-lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

#game-lobby, #game-lobby > div {
  width: 100%;
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #d8c69c;
}

.user, .title {
  text-transform: none;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: #000;
}

.close-button:hover {
  color: #d8c69c;
}

.password .fa-lock {
  margin-left: 10px;
}

#login-link, #register-link {
  margin: 10px;
}

#overlay {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

#join-form {
  width: 20%;
}

#join-form > form, #join-form .details, #join-form #password{
  width: 100%;
}

#join-form > form > div {
  width: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#join-form .details {
  justify-content: center;
}

#join-form .details > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

#join-form .details > div  > div, #join-form #password > * {
  margin: 0 10px;
}

#root > #login-form, #root > #register-form {
  top: 50px;
}

#create-form, #join-form, #login-form, #register-form {
  position: absolute;
  background: #fff;
  padding: 50px 100px;
  z-index: 100;
}

#create-form > form, #join-form > form {
  flex-direction: column;
  justify-content: center;
}

#create-form > form > .input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#create-form #mode label {
  margin-left: 5px;
}

#create-form .button-wrapper, #join-form .button-wrapper {
  display: flex;
  justify-content: center;
}

#games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

#games > div {
  width: 50%;
  overflow-y: auto;
}

#games > div > div {
  border-bottom: 1px solid #999;
  flex-basis: 50%;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
}

#games > div > div > div, #games .users > * {
  margin: 5px;
}

#games .details > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#games .details > div > div {
  margin: 0 10px;
}

#games .users > .count {
  align-self: flex-end;
}

#games .users {
  align-items: center;
}

#scoreboard, #user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

#user-details > div {
  text-align: center;
  margin: 10px;
  width: 100%;
}

#user-details .bio {
  width: 30%;
  height: 250px;
  border-top: 1px solid #999;
  padding: 10px;
}

#user-details .bio#edit {
  border: 1px solid black;
}

#user-details .bio.disable#edit {
  border: none;
  border-top: 1px solid #999;
}

#round-wins, #game-wins {
  flex-basis: 50%;
  justify-content: center;
}

#round-wins > div, #game-wins > div {
  border-bottom: 1px solid #999;
  margin: 10px 0px;
  padding: 10px;
}

#round-wins > div > *, #game-wins > div > * {
  margin: 10px;
}

#error {
  justify-content: center;
}

#error > div {
  background-color: #efa0a0;
  padding: 10px;
  display: inline-block;
  align-self: center;
}

.auth > #username, .auth > #password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.auth > #username > *, .auth > #password > * {
  margin: 10px;
}

input, .button {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}

.disable {
  border: 1px solid #999;
  padding: 10px;
  display: inline-block;
}

.button#join-button {
  font-size: 14px;
  padding: 5px;
}

input[type='submit'], .button {
  background-color: #fff;
  color: #000;
}

input[type='submit']:hover, .button:hover {
  border-color: #d8c69c;
  background-color: #d8c69c;
  color: #fff;
}

.title {
  font-weight: bold;
}

.gold {
  color: #e8ba47;
}

.silver {
  color: #b2b2b2;
}

.bronze {
  color: #b76e00;
}

.hidden {
  display: none;
}

#header {
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
